<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Hello World
    </h1>

    <span>span 태그1</span> <span>span 태그2</span>

    <div>안녕하세요</div>
    <div>두번째 영역입니다</div>

    <a href="https://www.google.com/" target="_blank">Google Link</a>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, modi? Eius ut,
        alias consequatur aliquam eveniet iure recusandae sunt? Dicta quae
        voluptatibus ea, quas veritatis qui ab nihil nulla mollitia.
      </p>

    <ul>
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
        <li>list item4</li>
      </ul>
      
      <ol>
        <li>list item1</li>
        <li>list item2</li>
        <li>list item3</li>
        <li>list item4</li>
      </ol>
</body>
</html>

# 서버를 통해 웹페이지의 내용을 보여주기 위해 크게 세 가지 정도의 세팅이 필요하다
